[defaults]
inventory = inventory.yml
forks = 50
host_key_checking = False
gathering = explicit
fact_caching = jsonfile
fact_caching_connection = ~/.ansible/facts
fact_caching_timeout = 3600
pipelining = True
strategy = free
timeout = 30
callbacks_enabled = profile_tasks

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=10m -o StrictHostKeyChecking=no -o ForwardAgent=yes
ControlPath=/tmp/ansible-%%r@%%h:%%p